* {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Global Style */
:root {
	--primary-color: #87bc29;
	--primary-font: Algerian;
	--bg-img-center: no-repeat center/cover;
}

.center {
	text-align: center;
}

/* Navigation */
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	padding: 20px;
	z-index: 99;
}

.list-items {
	display: inline;
}

.list-items a {
	padding: 20px;
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
}

.list-items a:hover {
	border-bottom: 2px solid #fff;
}

.nav_logo h1 {
	color: #fff;
	font-size: 2rem;
	text-align: center;
}

span {
	color: var(--primary-color);
	font-family: (--primary-font);
}

/* Hero Area */
.hero {
	/* image credit https://unsplash.com/@jeriden94 */
	background: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0.616)), 
	url("https://images.unsplash.com/photo-1589939705384-5185137a7f0f?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
	var(--bg-img-center) 
	fixed;
}

.hero_headings-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: sans-serif;
	margin-left: 10rem;
	color: #fff;
}

.hero_main-headings {
	font-size: 5rem;
	color: #fff;
}

.hero_headings-container p {
	font-weight: bold;
}

.main-btn {
	text-decoration: none;
	margin-top: 20px;
	color: #fff;
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 5px;
	font-weight: bold;
}

/* Services */

.main-headings {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 50px;
  transition-property: all;
  transition-duration: 0.5s;
}

.main-headings:hover {
  transform: skew(20deg);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 20px;
  transition: all 1s;
  border: 1px solid #ccc;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px #ccc;
  transform: scale(1.1);
  cursor: pointer;
}

.card p {
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  padding: 10px;
}

.card-image {
  width: 300px;
  height: 300px;
}

.img-1 {
  /* Image credit https://unsplash.com/@bormot */
  background: url("https://images.unsplash.com/photo-1541447271487-09612b3f49f7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") var(--bg-img-center);
  background-position: top;
}

.img-2 {
  /* Image credit https://unsplash.com/@chris_dion*/
  background: url("https://images.unsplash.com/photo-1589586502913-822aa129d420?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") var(--bg-img-center);
}

.img-3 {
  /* Image credit https://unsplash.com/@raddfilms */
  background: url("https://images.unsplash.com/photo-1568992687947-868a62a9f521?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") var(--bg-img-center);
}

/* Why Us */

.why-us {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.lists-container {
	margin-left: 30px;
	font-family: sans-serif;
}

.list  {
	display: flex;
	align-items: center;
	text-align: center;
}

.list-number {
	width: 30px;
	height: 30px;
	border: 2px solid var(--primary-color);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 20px;
}

.list-number p {
	color: var(--primary-color);
	text-align: center;
}

.list-info {
	color: rgb(122, 122, 122);
	transition: all 0.7s;
}

.list-info:hover {
	transform: scale(1.1);
	font-weight: bold;
}

.owner-image {
	/* Image credit https://unsplash.com/@austindistel */
	background: url("https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat var(--bg-img-center);
	object-fit: cover;
	width: 300px;
	height: 300px;
	border: 10px solid var(--primary-color);
	border-radius: 50%;
	transition: all 1s;
}

.owner-image:hover {
	transform: scale(1.2);
}

/* Project Details */

.project-details_container-left,
.project-details_container-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10rem;
	font-family: sans-serif;
}

.project-details-img {
	box-shadow: 10px 10px 5px var(--primary-color);
	transition: all 1s;
}

.project-details-img:hover {
	transform: scale(1.1);
	box-shadow: 20px 20px 10px var(--primary-color);
	transform: skew(10deg);
}

.title {
	margin-left: 40px;
}

/* Form */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 10rem;
}

input {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	outline: none;
	width: 50%;
}

input:focus {
	border-bottom: 2px solid var(--primary-color);
}

.form-btn {
	text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

/* Footer */

footer {
  height: 30vh;
  background-color: #000000be;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

@media only screen and (max-width: 600px) {
	.hero_headings-container {
		justify-content: center;
		align-items: center;
	}

	.hero_main-headings {
		font-size: 2rem;
	}

	.nav_logo {
		display: none;
	}
	
	.main-headings {
		font-size: 2rem;
	}
	
	.project-details-img {
		margin-bottom: 5rem;
	}

	input {
		width: 20rem;
	}
}
