* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: thistle;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
  transition: 0.5s ease-in;
}

.content img:hover {
  box-shadow: none;
  transition: 0.5s ease-out;
}