@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto&display=swap");

:root {
  --main-color: #37132d;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Roboto", sans-serif;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul li {
  list-style: none;
  display: inline;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  color: #000;
  font-family: var(--secondary-font);
}
/* Header End */

/* Section One Start*/
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.header-heading {
  font-size: 4rem;
  font-family: var(--main-font);
}

.header-sub-headings {
  width: 70%;
  font-family: var(--secondary-font);
  color: rgb(82, 82, 82);
  margin: 20px 0;
}

.header-img-container {
  width: 30%;
  height: 50vh;
  position: relative;
}

.img-one {
  position: absolute;
  left: 10rem;
}

.img-two {
  position: absolute;
  left: 3rem;
  top: 8rem;
}

.header-img {
  width: 200px;
  height: 300px;
}

.main-btn {
  padding: 10px 20px;
  text-decoration: none;
  background: var(--main-color);
  color: #fff;
  font-family: var(--secondary-font);
}
/* Section One End*/

/* Experience Section Start */
.experience {
  height: 90vh;
  margin-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.experience-img {
  background: url("https://images.unsplash.com/photo-1553521041-d168abd31de3?q=30&w=600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  width: 300px;
  height: 350px;
  margin-left: 50px;
}

.gray-heading {
  color: gray;
  font-family: var(--main-color);
}

.btn-container {
  margin-top: 30px;
}
/* Experience Section End */

/* Social Media Start */
.social-media {
  margin: 5rem;
}

.sm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.follow {
  padding: 20px;
  background: var(--main-color);
  color: #fff;
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-right: 3rem;
  text-align: center;
}
/* Social Media End */
