@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #239b7e;
  --main-font: 'Playfair Display', serif;
  --primary-font: 'Roboto', sans-serif;
}

/* Nav Start */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5rem;
}

.burger span {
  border: 2px solid var(--main-color);
  width: 40px;
  height: 1px;
  margin: 2px;
}
/* Nav End */

/* Header Start */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
}

.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  transform: translateY(-40px);
  color: #00000097;
  line-height: 5rem;
}

.main-headings span {
  color: black;
}

.primary-headings {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  margin-bottom: 1rem;
  color: #716d6d;
}

.btn-fill {
  background: var(--main-color);
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: 1px solid transparent;
}

.btn-fill:hover {
  background: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn-outline.active {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-outline.active:hover {
  background: var(--main-color);
  color: #fff;
}

.img-container {
  border-radius: 50%;
  box-shadow: 4px 7px 5px 2px #bcbaba;
}

.header-img {
  border-radius: 100%;
  background: url("https://images.unsplash.com/photo-1578768079052-aa76e52ff62e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGhvZGRpZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: top;
  background-size: cover;
  width: 400px;
  height: 400px;
}
/* Header End */

/* Section One Start */
.section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}

.section-one-img {
  background: url("https://images.unsplash.com/photo-1516195851888-6f1a981a862e?q=80&w=1905&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: top;
  background-size: cover;
}
/* Section One End */

/* Products Section Start */
.products {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .product-headings {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.products .product-categories button {
  margin-right: 20px;
  margin-bottom: 2rem;
}

.products .product-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 60rem;
}

.products .product-items-container .item {
  margin: 20px;
}

.products .product-items-container .item-layer {
  background: #ebf1f0;
  padding: 20px;
  margin-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.products .product-items-container .item-layer img {
  width: 175px;
  height: 200px;
}

.products .product-items-container .item .item-name {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}

.products .product-items-container .item .item-price {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}

.products .product-items-container .item .view-product {
  font-family: var(--primary-font);
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/* Products Section End */

/* Customer Review Start */
.customer-reviews {
  margin-top: 5rem;
  display: flex;flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.customer {
  align-items: center;
}

.customer-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10rem;
}

.customer-reviews .customer-description {
  font-size: 12px;
  margin-top: 20px;
  max-width: 200px;
  text-align: center;
  margin: 10px;
  font-family: var(--primary-font);
}

.customer .customer-img .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.customer .img-one {
  background: url("https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.customer .img-two {
  background: url("https://images.unsplash.com/photo-1615397587950-3cbb55f95b77?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGhvb2RpZXxlbnwwfHwwfHx8MA%3D%3D");
}

.customer .img-three {
  background: url("https://images.unsplash.com/photo-1540569014015-19a7be504e3a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8");
}
/* Customer Review End */

/* Footer Start */
footer {
  background: #1f1e1e;
  margin-top: 10rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: var(--primary-font);
}

footer .container .footer-heading {
  margin-bottom: 3rem;
}

footer .container .footer-primary-heading {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
/* Footer End */

/* Responsive */
@media only screen and (max-width: 900px) {
  header {
    height: 120vh;
    text-align: center;
  }

  .section-one {
    height: 120vh;
    text-align: center;
  }

  .header-img {
    width: 250px;
    height: 250px;
  }

  .product-categories {
    display: flex;
  }

  .main-headings {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .primary-headings {
    width: 400px;
  }

  .customer .customer-img .img {
    width: 150px;
    height: 150px;
  }
}